n8n/workflows/FTC-WF-008_drive-carpeta-auto.json
{
  "name": "FTC-WF-008_drive-carpeta-auto",
  "nodes": [
    {
      "parameters": {
        "content": "## FTC-WF-008: Creacion Automatica de Carpeta Drive\n\n**Workflow ID:** FTC-WF-008\n**Nombre:** Creacion Automatica de Carpeta Drive\n**Version:** 1.0.0\n**Autor:** Ops FinteChile\n**Fecha:** 2025-01-01\n\n**Descripcion:**\nPolling cada 5 minutos a la DB Empresas en Notion.\nBusca registros con Estado=\"Activo\" y sin Link Carpeta Drive.\nPara cada empresa encontrada:\n- Crea carpeta principal en Google Drive: {RUT}-{NombreEmpresa}\n- Crea subcarpetas: Contratos, Facturas, Comunicaciones\n- Actualiza Notion con el link de la carpeta\n- Notifica por Slack\n\n**Trigger:** Schedule (cada 5 min)\n**Base de datos Notion:** Empresas\n**Servicios:** Google Drive, Slack\n\n**Variables de entorno:**\n- NOTION_DB_EMPRESAS_ID\n- DRIVE_FOLDER_MIEMBROS_ID\n- SLACK_CHANNEL_OPS",
        "height": 520,
        "width": 400,
        "color": 4
      },
      "id": "sticky-metadata",
      "name": "Workflow Metadata",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_EMPRESAS_ID }}",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "formula",
        "filters": {
          "conditions": [
            {
              "key": "Estado|select",
              "condition": "equals",
              "selectValue": "Activo"
            },
            {
              "key": "Link Carpeta Drive|url",
              "condition": "isEmpty"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "notion-query-empresas",
      "name": "Notion - Buscar Empresas Activas sin Carpeta",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        520,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-results-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-results",
      "name": "IF - Hay Empresas Pendientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract RUT and Nombre Empresa from Notion record\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const props = item.json.properties;\n  \n  // Extract RUT (rich_text property)\n  let rut = '';\n  if (props.RUT && props.RUT.rich_text && props.RUT.rich_text.length > 0) {\n    rut = props.RUT.rich_text[0].plain_text;\n  }\n  \n  // Extract Nombre Empresa (title property)\n  let nombreEmpresa = '';\n  if (props['Nombre Empresa'] && props['Nombre Empresa'].title && props['Nombre Empresa'].title.length > 0) {\n    nombreEmpresa = props['Nombre Empresa'].title[0].plain_text;\n  }\n  \n  // Sanitize folder name: remove special chars that Drive doesn't allow\n  const folderName = `${rut}-${nombreEmpresa}`\n    .replace(/[\\\\/:*?\"<>|]/g, '_')\n    .trim();\n  \n  // Notion page ID for later update\n  const notionPageId = item.json.id;\n  \n  results.push({\n    json: {\n      rut,\n      nombreEmpresa,\n      folderName,\n      notionPageId\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-extract-data",
      "name": "Code - Extraer RUT y Nombre",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        220
      ]
    },
    {
      "parameters": {
        "operation": "createFolder",
        "name": "={{ $json.folderName }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.DRIVE_FOLDER_MIEMBROS_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "drive-create-main-folder",
      "name": "Drive - Crear Carpeta Principal",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1320,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-credentials",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFolder",
        "name": "Contratos",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "drive-create-contratos",
      "name": "Drive - Crear Subcarpeta Contratos",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1580,
        60
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-credentials",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFolder",
        "name": "Facturas",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Drive - Crear Carpeta Principal').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "drive-create-facturas",
      "name": "Drive - Crear Subcarpeta Facturas",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1580,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-credentials",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFolder",
        "name": "Comunicaciones",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Drive - Crear Carpeta Principal').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "drive-create-comunicaciones",
      "name": "Drive - Crear Subcarpeta Comunicaciones",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1580,
        380
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gdrive-credentials",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Code - Extraer RUT y Nombre').item.json.notionPageId }}",
          "mode": "id"
        },
        "properties": {
          "values": [
            {
              "key": "Link Carpeta Drive|url",
              "urlValue": "={{ $('Drive - Crear Carpeta Principal').item.json.webViewLink }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-update-link",
      "name": "Notion - Actualizar Link Carpeta",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1840,
        220
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.SLACK_CHANNEL_OPS }}",
          "mode": "id"
        },
        "text": ":file_folder: *Carpeta Drive creada para {{ $('Code - Extraer RUT y Nombre').item.json.nombreEmpresa }}*\n\n*RUT:* {{ $('Code - Extraer RUT y Nombre').item.json.rut }}\n*Carpeta:* {{ $('Code - Extraer RUT y Nombre').item.json.folderName }}\n*Subcarpetas:* Contratos, Facturas, Comunicaciones\n*Link:* {{ $('Drive - Crear Carpeta Principal').item.json.webViewLink }}\n\nRegistro actualizado en Notion con el link de la carpeta.",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "slack-notification",
      "name": "Slack - Carpeta Creada",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2100,
        220
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Rama: Sin Resultados\n\nSi no hay empresas activas sin carpeta Drive,\nel workflow se detiene silenciosamente.\nNo se envian notificaciones.",
        "height": 160,
        "width": 300,
        "color": 7
      },
      "id": "sticky-no-results",
      "name": "Nota - Sin Resultados",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1000,
        440
      ]
    },
    {
      "parameters": {
        "content": "## Flujo Principal\n\nPara cada empresa activa sin carpeta:\n1. Extrae RUT y Nombre Empresa\n2. Crea carpeta principal: {RUT}-{NombreEmpresa}\n3. Crea 3 subcarpetas en paralelo:\n   - Contratos\n   - Facturas\n   - Comunicaciones\n4. Actualiza Notion con link Drive\n5. Notifica por Slack",
        "height": 240,
        "width": 340,
        "color": 6
      },
      "id": "sticky-main-flow",
      "name": "Nota - Flujo Principal",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1260,
        -120
      ]
    }
  ],
  "connections": {
    "Schedule - Cada 5 min": {
      "main": [
        [
          {
            "node": "Notion - Buscar Empresas Activas sin Carpeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Buscar Empresas Activas sin Carpeta": {
      "main": [
        [
          {
            "node": "IF - Hay Empresas Pendientes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Hay Empresas Pendientes?": {
      "main": [
        [
          {
            "node": "Code - Extraer RUT y Nombre",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code - Extraer RUT y Nombre": {
      "main": [
        [
          {
            "node": "Drive - Crear Carpeta Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive - Crear Carpeta Principal": {
      "main": [
        [
          {
            "node": "Drive - Crear Subcarpeta Contratos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive - Crear Subcarpeta Facturas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive - Crear Subcarpeta Comunicaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive - Crear Subcarpeta Contratos": {
      "main": [
        [
          {
            "node": "Notion - Actualizar Link Carpeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive - Crear Subcarpeta Facturas": {
      "main": [
        [
          {
            "node": "Notion - Actualizar Link Carpeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive - Crear Subcarpeta Comunicaciones": {
      "main": [
        [
          {
            "node": "Notion - Actualizar Link Carpeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Actualizar Link Carpeta": {
      "main": [
        [
          {
            "node": "Slack - Carpeta Creada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "fintechile-instance"
  },
  "tags": [
    {
      "name": "FTC-WF-008",
      "id": "tag-ftc-wf-008"
    },
    {
      "name": "drive",
      "id": "tag-drive"
    },
    {
      "name": "automation",
      "id": "tag-automation"
    }
  ],
  "pinData": {}
}
